.popover {
	max-width: 400px
}

.hidden-visible,
.wf-loading {
    visibility: hidden
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
ins,
kbd,
label,
legend,
li,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    /* vertical-align: baseline; */
    height: auto;
}


body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

#grid {
  margin: 20px;
  width: 1145px;
  height: 754px;
  position: absolute;
/*  background-image: url("http://cp91279.biography.com/BIO_Bio-Shorts_0_Miles-Davis_150550_SF_HD_768x432-16x9.jpg");
*/  background-size: 1145px 754px;
}

.grid-item {
  position: absolute;
  display: inline-block;
  cursor: default;
  overflow: hidden;
  border-radius: 100%;
  /*background-image: url("http://cp91279.biography.com/BIO_Bio-Shorts_0_Miles-Davis_150550_SF_HD_768x432-16x9.jpg");*/
}

#decade-container {
  position: absolute;
  width: 100%;
  top: 800px;
  z-index: -1;
}

.tooltip {
  position: absolute;
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: 1px 1px 10px lightgrey;
  padding: 10px;
  max-width: 400px;
}

.hidden {
	display: none;
}

#entity-type-select, #section-select {
	max-height: 200px;
	overflow-y: scroll;
}



.check-button {
  margin:4px;
  /* background-color:#EFEFEF; */
  border-radius:4px;
  /* border:1px solid #D0D0D0; */
  overflow:auto;
  float:left;
  display: inline-block;
}

.check-button label {
 float:left;
}

.check-button label span {
  text-align:center;
  padding:3px 6px;
  display:block;
}

.check-button label input {
  position:absolute;
  top:-20px;
}

.check-button input:checked + span {
  /* background-color:#911; */
  color:#fff;
  font-weight: bolder;
}

body{he`: 5;background: linear-gradient(to bottom, #13051D 359px,#111 487px);}

.loading-page {
	min-height: 190px;
	width: 100%;
	color: white;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	margin-top: -50px;
	z-index: 1000000;
	position: relative;
	padding-top: 40px;
}

.loading-page center {
}

.loading-page h1 {
	font-size: 178px;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	line-height: .9em;
	text-transform: uppercase;
	letter-spacing: 0px;
	max-width: 750px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}
.loading-page h4 {
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 18px;
	position: relative;
	z-index: 1000000;
	margin-top: 20px;
}
.loading-page p {
	color: white;
	width: 440px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	margin: 0 auto;
	margin-top: 4px;
	line-height: 1.7em;
	font-weight: 500;
	font-size: 19px;
	/* text-transform: uppercase; */
	letter-spacing: 1px;
	z-index: 1000000000;
}

#vis-1, #vis-2 {
	margin: 0 auto;
	position: relative;
	top: 0px;
	width: 100%;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	height: 100%;
}


#entity-type-select .check-button input[value=works]:checked + span { background-color: #F7CA18;}
#entity-type-select .check-button input[value=musicians]:checked + span { background-color: #D91E18;}
#entity-type-select .check-button input[value=people]:checked + span { background-color: #E87E04;}
#entity-type-select .check-button input[value=events]:checked + span { background-color: #26A65B;}
#entity-type-select .check-button input[value=places]:checked + span { background-color: #9B59B6;}
#entity-type-select .check-button input[value=genres]:checked + span { background-color: #3498DB;}
#entity-type-select .check-button input[value=companies]:checked + span { background-color: #BDC3C7;}
#entity-type-select .check-button input[value=other]:checked + span { background-color: #BDC3C7;}


.star-background {
    background-image: url(https://i.ytimg.com/vi/voWpbz1De_M/maxresdefault.jpg);
    background-repeat: repeat;
    width: 100%;
    height: 50000px;
    opacity: .3;
    z-index: 0;
    position: absolute;
}

.voronoi {
    /* stroke: white; */
    stroke-width: 0px;
    fill: none;
    pointer-events: all;
}

.circle-plot{
	fill:white;
}

.dot-plot-two {
  animation-name: bounce;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes bounce {
  0%, 50%,100% {
    fill: white;
  }
  25%,75% {
    fill: #111;
  }
}

@-webkit-keyframes bounce {
  0%, 50%,100% {
    fill: white;
  }
  25%,75% {
    fill: #111;
  }
}


.intro-vis {
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    height: 450px;
    position: relative;
    z-index: 0;
}

.picture-point {
    margin: 0 auto;
    width: 709px;
    position: relative;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}


.star-filler {
    z-index: 0;
    height: 406px;
    flex-grow: 1;
}

.intro-vis-miles {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}


canvas {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;backface-visibility: hidden;-webkit-perspective: 1000;-moz-perspective: 1000;-ms-perspective: 1000;perspective: 1000;}

.voronoi-tooltip-image {
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    height:90px;
    width: 90px;
}

.voronoi-tooltip {
	font-size: 11px;
	text-align: center;
	width: 500px !important;
}

.voronoi-tooltip table td {
	vertical-align: top;
}

.voronoi-tooltip .quote-container {
	text-align: left;
	padding: 10px;
}
.voronoi-tooltip .section-header-name {
	text-transform: uppercase
}

.voronoi-tooltip .works-name {

}

.voronoi-tooltip .voronoi-tooltip-image.works-image {
	width: 40px;
	height: 40px;
	display:inline-block;
	vertical-align:middle;
	margin-right: 5px;
}

.voronoi-tooltip .works-list {
	text-align:left
}
.voronoi-tooltip .works-list table tr td {
	vertical-align: middle
}

.intro-voroni-picture {
	position: absolute;
	top:0px;
	left:0px

}

.intro-vis-screen {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    top: -40px;
    height: 410px;
    background: linear-gradient(rgba(0, 0, 0,0) 0px,rgb(17, 17, 17) 410px);
    pointer-events: none;
    z-index: 10;
    position: absolute;
}


#transform-to-decades {
    display: none;
}

#section-header {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}
.chart-title{text-transform: uppercase;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-align: center;font-weight: 500;letter-spacing: 2px;margin-bottom: 13px;font-size: 22px;color: white;}


.chart-title-container {
    margin-top: 130px;
    margin-bottom: 90px;
}

.chart-title-sub {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 3px;
}

.first-chart-prose {
    width: 500px;
}

.first-chart-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
}

#vis-1 .voronoi-svg {
    -webkit-clip-path: circle(50% at center);
    clip-path: circle(50% at center);
}


.first-chart-section-head {
    font-size: 22px;
    color: white;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.first-chart-section-text {
    color: white;
    font-size: 15px;
    line-height: 1.8em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.first-chart-text-section {
    width: 80%;
    margin-bottom: 50px;
}


.opening-prose {
    color: white;
    font-weight: 300;
    font-size: 21px;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.opening-prose-container {
    width: 630px;
    margin: 0 auto;
    margin-top: 50px;
}

.first-chart-filter {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    padding-left: 11px;
    padding-right: 11px;
}

.first-chart-filters {
    position: absolute;
    bottom: -58px;
    left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    right: 0px;
    -webkit-flex-wrap: warp;
    flex-wrap: wrap;
}

.first-chart-filter-spacer {
    font-size: 12px;
}

.filter-head-text {
    font-size: 15px;
    text-transform: capitalize;
    color: #333333;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 5px;
}

.second-chart-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 1500px;
}

.filter-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: middle;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.second-chart-prose {
    width: 400px;
}

#vis-3 {
    width: 100%;
    position: relative;
}

.third-chart-container {
    width: 900px;
    margin: 0 auto;
    height: 2000px;
}

.third-data-node {
    width: 130px;
    height: auto;
    margin-bottom: 20px;
    position: absolute;
    top: 0px;
}

.third-chart-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.third-section-item-title {
    font-size: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.third-section-item-text {
    font-size: 12px;
    color: #aaa;
}

.third-section-item-bubble {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
    background: url("http://upload.wikimedia.org/wikipedia/en/thumb/3/3c/DavisEvansSetSmall.jpg/220px-DavisEvansSetSmall.jpg");
    background-size: contain;
    border: 2px solid white;
    box-shadow: 0px 0px 28px rgba(255, 255, 255, 0.49);
}

.third-chart-shadow {
    width: 100%;
    position: relative;
    height: 190px;
}

.third-data-node-shadow {
    background: #696969;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
}


.third-chart-body-prose {
    color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: .8px;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 30px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

.chart-title-three {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}

.chart-title-container-three {
    width: 900px;
    margin: 0 auto;
}

.third-data-row {
    position: relative;
    width: 100%;
    height: 270px;
}

.second-chart-filters {
    position: absolute;
    top: -90px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 93%;
    margin: 0 auto;
    right: 0px;
    -webkit-flex-wrap: warp;
    flex-wrap: wrap;
}

.filter-items-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: middle;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.second-chart-filter {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    padding-left: 11px;
    padding-right: 11px;
}

.header .exclude {
    fill: #111;
}

.header .include {
    fill: rgb(255, 38, 52);
    fill: white;
}

.logo-svg {
    width: 100%;
}


.logo-container {
    width: 122px;
    height: 43px;
    position: absolute;
    left: 9px;
    margin: 0 auto;
    top: 3px;
}

.logo {font-size: 22px;font-weight: 700;position: absolute;top: 8px;color: #fff;width: 100%;margin: 0 auto;left: 14px;background: rgba(17, 17, 17, 0.57);z-index: 100;}to;
}

.header-sub-one {}

.header-sub-one {margin: 0 auto;color: #737373;font-size: 11px;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-weight: 600;text-align: center;top: 0px;position: absolute;left: 4px;top: 19px;background-color: #111;z-index: 1000;}

.header-sub-two {
    margin: 0 auto;
    color: #5F5E5E;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 600;
    text-align: center;
    left: 138px;
    top: 19px;
    position: absolute;
    color: #737373;
    font-size: 11px;
    background-color: #111;
    z-index: 1000;
}

#hidden-popover-div {
    width: 20px;
    height: 20px;
    /* background-color: pink; */
    position: fixed;
    z-index:10;
    border-radius: 100%;
}


.star-filler-two {
    position: absolute;
    top: -40px;
    left: 0px;
    width: 100%;
    height: 410px;
    z-index: 0;
}


.first-chart-prose-section {
    width: 80%;
}

.first-chart-prose-title {
    color: white;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 8px;
    letter-spacing: 4px;
}

.first-chart-prose-body {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}