.popover {
	max-width: 400px
}

.hidden-visible,
.wf-loading {
    visibility: hidden
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
ins,
kbd,
label,
legend,
li,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    /* vertical-align: baseline; */
    height: auto;
}


body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

#grid {
  margin: 20px;
  width: 1145px;
  height: 754px;
  position: absolute;
/*  background-image: url("http://cp91279.biography.com/BIO_Bio-Shorts_0_Miles-Davis_150550_SF_HD_768x432-16x9.jpg");
*/  background-size: 1145px 754px;
}

.grid-item {
  position: absolute;
  display: inline-block;
  cursor: default;
  overflow: hidden;
  border-radius: 100%;
  /*background-image: url("http://cp91279.biography.com/BIO_Bio-Shorts_0_Miles-Davis_150550_SF_HD_768x432-16x9.jpg");*/
}

#decade-container {
  position: absolute;
  width: 100%;
  top: 800px;
  z-index: -1;
}

.tooltip {
  position: absolute;
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: 1px 1px 10px lightgrey;
  padding: 10px;
  max-width: 400px;
}

.hidden {
	display: none;
}

#entity-type-select, #section-select {
	max-height: 200px;
	overflow-y: scroll;
}



.check-button {
  margin:4px;
  background-color:#EFEFEF;
  border-radius:4px;
  border:1px solid #D0D0D0;
  overflow:auto;
  float:left;
  display: inline-block;
}

.check-button label {
 float:left;
}

.check-button label span {
  text-align:center;
  padding:3px 6px;
  display:block;
}

.check-button label input {
  position:absolute;
  top:-20px;
}

.check-button input:checked + span {
  background-color:#911;
  color:#fff;
  font-weight: bolder;
}

body{he`: 5;background: linear-gradient(to bottom, rgb(23, 24, 29) 169px,#111 417px);}

.loading-page {
	min-height: 250px;
	width: 100%;
	color: white;
	max-width: 750px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	margin-top: -10px;
	z-index: 1000000;
}

.loading-page center {
}

.loading-page h1 {
	font-size: 78px;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	margin: 0px;
	line-height: 80px;
	text-transform: uppercase;
	letter-spacing: 12px;
}
.loading-page h4 {
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	font-weight: 400;
	letter-spacing: 2px;
	margin-bottom: 13px;
	font-size: 18px;
}
.loading-page p {
	color: white;
	width: 380px;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	margin: 0 auto;
	margin-top: 27px;
	line-height: 1.7em;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#vis-1, #vis-2 {
	margin: 0 auto;
	position: relative;
	top: 0px;
	width: 100%;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	height: 100%;
}


#entity-type-select .check-button input[value=works]:checked + span { background-color: #F7CA18;}
#entity-type-select .check-button input[value=musicians]:checked + span { background-color: #D91E18;}
#entity-type-select .check-button input[value=people]:checked + span { background-color: #E87E04;}
#entity-type-select .check-button input[value=events]:checked + span { background-color: #26A65B;}
#entity-type-select .check-button input[value=places]:checked + span { background-color: #9B59B6;}
#entity-type-select .check-button input[value=genres]:checked + span { background-color: #3498DB;}
#entity-type-select .check-button input[value=companies]:checked + span { background-color: #BDC3C7;}
#entity-type-select .check-button input[value=other]:checked + span { background-color: #BDC3C7;}


.star-background {
    background-image: url(https://i.ytimg.com/vi/voWpbz1De_M/maxresdefault.jpg);
    background-repeat: repeat;
    width: 100%;
    height: 50000px;
    opacity: .3;
    z-index: 0;
    position: absolute;
}

.voronoi {
    stroke: none;
    /* stroke-width: 0px; */
    fill: none;
    pointer-events: all;
}

.circle-plot{
	fill:white;
}

.dot-plot-two {
  animation-name: bounce;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes bounce {
  0%, 50%,100% {
    fill: white;
  }
  25%,75% {
    fill: #111;
  }
}

@-webkit-keyframes bounce {
  0%, 50%,100% {
    fill: white;
  }
  25%,75% {
    fill: #111;
  }
}


.intro-vis {
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    height: 450px;
    position: relative;
}

.picture-point {
    margin: 0 auto;
    width: 709px;
    position: relative;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}


.star-filler {
    z-index: 0;
    height: 406px;
    flex-grow: 1;
}

.intro-vis-miles {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}


canvas {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;backface-visibility: hidden;-webkit-perspective: 1000;-moz-perspective: 1000;-ms-perspective: 1000;perspective: 1000;}

.voronoi-tooltip-image {
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    height:90px;
    width: 90px;
}

.voronoi-tooltip {
	font-size: 11px;
	text-align: center;
	width: 500px !important;
}

.voronoi-tooltip table td {
	vertical-align: top;
}

.voronoi-tooltip .quote-container {
	text-align: left;
	padding: 10px;
}
.voronoi-tooltip .section-header-name {
	text-transform: uppercase
}

.voronoi-tooltip .works-name {

}

.voronoi-tooltip .voronoi-tooltip-image.works-image {
	width: 40px;
	height: 40px;
	display:inline-block;
	vertical-align:middle;
	margin-right: 5px;
}

.voronoi-tooltip .works-list {
	text-align:left
}
.voronoi-tooltip .works-list table tr td {
	vertical-align: middle
}

.intro-voroni-picture {
	position: absolute;
	top:0px;
	left:0px

}

.intro-vis-screen {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0,0) 339px,rgb(17, 17, 17) 417px);
    pointer-events: none;
}


#transform-to-decades {
    display: none;
}

#section-header {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}
.chart-title{
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:;
	width: 100%;
	text-align: center;
	line-height: 1.5em;
	margin: 0 auto;
	font-size: 40px;
	font-weight: 300;
}


.chart-title-container {
    margin-top: 130px;
    margin-bottom: 90px;
}

.chart-title-sub {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 3px;
}

.first-chart-prose {
    width: 400px;
}

.first-chart-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    margin-bottom: 300px;
}

.voronoi-svg {
}


.first-chart-section-head {
    /* font-size: 22px; */
    /* color: white; */
    /* font-weight: 600; */
    /* margin-bottom: 10px; */
}

.first-chart-section-text {
    color: white;
    font-size: 14px;
    line-height: 2em;
}

.first-chart-text-section {
    width: 80%;
    margin-bottom: 50px;
}


.opening-prose {
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.opening-prose-container {
    width: 630px;
    margin: 0 auto;
    margin-top: 50px;
}

.first-chart-filter {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    padding-left: 11px;
    padding-right: 11px;
}

.first-chart-filters {
    position: absolute;
    bottom: -58px;
    left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    right: 0px;
    -webkit-flex-wrap: warp;
    flex-wrap: wrap;
}

.first-chart-filter-spacer {
    font-size: 12px;
}

.filter-head-text {
    font-size: 15px;
    text-transform: capitalize;
    color: #333333;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 5px;
}

.second-chart-container {
    /* min-height: 1000px; */
}

.filter-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: middle;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}